.page-about{
  position: relative;
  .start__decoration-left{
    position: fixed;
    left: -637vw * $px;
    width: 814vw * $px;
    height: 814vw * $px;
  }
  .start__decoration-bottom{
    right: -654vw * $px;
    width: 814vw * $px;
    height: 814vw * $px;
    top: 73vh;
  }
  .start__decoration-top{
    right: -211vw * $px;
    width: 610vw * $px;
    height: 610vw * $px;
    top: -450vw * $px;
  }
}
.about{
  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p{
      font-size: 1.25rem;
      line-height: 141.3%;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__title{
    position: relative;
    text-align: left;
    .about__title-before{
      opacity: 1!important;
    }
    img{
      height: 2.6rem;
    }
    &-before{
      position: absolute;
      width: 200%;
      height: auto;
      transform: translateX(-6.875rem);
      opacity: 0.075!important;
      max-width: none;
      bottom: -2.725rem;
      left: 0;
    }
  }
  &__buttons{
    margin-top: 1.875rem;
  }
  &__button{
    margin-right: 1.75rem;
    &:last-child{
      margin-right: 0;
    }
  }
  &__content{
    width: 44%;
    position: relative;
    z-index: 1;
  }
  &__sfera{
    transform: translateY(-100vw * $px) scale(1.35);
    width: 689vw * $px;
    height: 654vw * $px;
    max-width: 689px;
    max-height: 654px;
    pointer-events: none;
    position: relative;
    mix-blend-mode: multiply;
    opacity: 0.000001;
    &.loaded-sfera{
      opacity: 1;
      &:after{
        opacity: 0;
      }
    }
    &:after{
      transition-delay: 0.5s;
      transition: all 1s ease;
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      background-color: white;
      opacity: 1;
    }
  }
}