.clinic{
  margin-top: 10.625rem;
  //margin-bottom: 100px;
  @media all and (max-width: 1024px){
    margin-top: 70px;
  }
  @media all and (max-width: 768px){
    margin-top: 55px;
  }
  @media all and (max-width: 500px){
    margin-top: 40px;
  }
  &__container{
    @media all and (max-width: 500px){
      padding: 0;
    }
  }
  &__slider{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    &-desc{
      color: #A9B3C0;
      font-weight: 500;
      font-size: 1.125rem;
      position: absolute;
      top: calc(100% + 1.3125rem);
      width: 100%;
      text-align: center;
      transform: scale(0.4);
    }

    .block{
      width: 100%;
      padding: 0 100px;
      @media all and (max-width: 768px){
        padding: 0;
      }
    }
    .swiper-container{
      padding: 100px 0 200px 0;
      overflow: hidden;
      margin: auto;
      z-index: 2;
      position: relative;
      @media all and (max-width: 1300px){
        width: 100%;
      }
      @media all and (max-width: 1024px){
        padding-top: 50px;
      }
      @media all and (max-width: 768px){
        margin-bottom: -100px;
        padding: 35px 0 134px 0;
      }
      @media all and (max-width: 500px){
        padding-top: 20px;
        padding-bottom: 120px;
      }
      //&:before{
      //  position: absolute;
      //  left: -4px;
      //  top: 0;
      //  height: 100%;
      //  content: "";
      //  display: block;
      //  background: linear-gradient(90deg,#fff 60%,rgba(255,255,255,0) 92.72%);
      //  width: 15.625vw;
      //  z-index: 10;
      //  pointer-events: none;
      //}
      //&:after{
      //  position: absolute;
      //  right: -4px;
      //  top: 0;
      //  height: 100%;
      //  content: "";
      //  display: block;
      //  background: linear-gradient(90deg,#fff 60%,rgba(255,255,255,0) 92.72%);
      //  transform: matrix(-1,0,0,1,0,0);
      //  width: 15.625vw;
      //  z-index: 10;
      //  pointer-events: none;
      //}
      .swiper-wrapper{
        display: flex;
        align-items: center;
      }
      .swiper-slide {
        display: block;
        background-position: center;
        background-size: cover;
        width: 754px;
        height: 300px;
        //-webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
        position: relative;
        &:after{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          opacity: 0.9;
          transition: 0.3s;
        }
        &-active{
          &:after{
            opacity: 0;
          }
        }
        &-next, &-prev{
          &:after{
            opacity: 0.3;
          }
        }
        @media all and (max-width: 500px){
          width: 60vw;
        }
        .clinic__slider-desc{
          opacity: 0;
          transition: all 0.5s ease;
        }
        img {
          object-fit: cover;
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }
    }
    &-nav{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      @media all and (max-width: 768px){
        position: relative;
        justify-content: center;
        z-index: 5;
        > div{
          margin: 0 10px;
        }
      }
      > div{
        cursor: pointer;
        &.swiper-button-disabled{
          opacity: 0.3;
        }
      }
    }
  }
  &__container{
    @media all and (max-width: 768px){
      padding: 0;
    }
  }
  &__wrapper{

  }
}