.clinic{
  margin-top: 10.625rem;
  margin-bottom: 100px;
  &__container{

  }
  &__slider{
    position: relative;
    &-desc{
      color: #A9B3C0;
      font-weight: 500;
      font-size: 1.125rem;
      position: absolute;
      top: calc(100% + 1.3125rem);
      width: 100%;
      text-align: center;
      transform: scale(0.4);
    }
    .swiper-container{
      padding: 100px 0 100px 0;
      overflow: hidden;
      width: 1060px;
      margin: auto;
      .swiper-wrapper{
        display: flex;
        align-items: center;
      }
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 350px;
        .clinic__slider-desc{
          opacity: 0;
          transition: all 0.5s ease;
        }
        img {
          display: block;
          width: 100%;
          border-radius: 15px;
        }
      }
    }
    &-nav{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 10;
      > div{
        cursor: pointer;
        &.swiper-button-disabled{
          opacity: 0.3;
        }
      }
    }
  }
  &__container{

  }
  &__wrapper{

  }
}