.page{
  &-about{
    padding-top: 23rem;
    @media all and (max-width: 1024px){
      padding-top: 160px;
    }
    @media all and (max-width: 768px){
      padding-top: 120px;
    }
    @media all and (max-width: 500px){
      padding-top: 180px;
      padding-bottom: 70px;
    }
  }
  &-service{
    padding-top: 17.4375rem;
    position: relative;
    @media all and (max-width: 1024px){
      padding-top: 160px;
    }
    @media all and (max-width: 768px){
      padding-top: 120px;
    }
    @media all and (max-width: 500px){
      padding-top: 74px;
      padding-bottom: 200px;
    }
    .start__decoration-left{
      position: fixed;
      left: -637vw * $px;
      width: 814vw * $px;
      height: 814vw * $px;
    }
    .start__decoration-bottom{
      right: -654vw * $px;
      width: 814vw * $px;
      height: 814vw * $px;
      top: 73vh;
    }
    .start__decoration-top{
      right: -211vw * $px;
      width: 610vw * $px;
      height: 610vw * $px;
      top: -450vw * $px;
    }
  }
  &-contacts{
    padding-top: 17.4375rem;
    position: relative;
    @media all and (max-width: 1024px){
      padding-top: 160px;
    }
    @media all and (max-width: 768px){
      padding-top: 120px;
    }
    @media all and (max-width: 500px){
      padding-top: 74px;
      padding-bottom: 200px;
    }
    .start__decoration-left{
      position: fixed;
      left: -637vw * $px;
      width: 814vw * $px;
      height: 814vw * $px;
    }
    .start__decoration-bottom{
      right: -654vw * $px;
      width: 814vw * $px;
      height: 814vw * $px;
      top: 73vh;
    }
    .start__decoration-top{
      right: -211vw * $px;
      width: 610vw * $px;
      height: 610vw * $px;
      top: -450vw * $px;
    }
  }
  &-portfolio{
    padding-top: 17.4375rem;
    position: relative;
    .start__decoration-left{
      position: fixed;
      left: -637vw * $px;
      width: 814vw * $px;
      height: 814vw * $px;
    }
    .start__decoration-bottom{
      right: -654vw * $px;
      width: 814vw * $px;
      height: 814vw * $px;
      top: 73vh;
    }
    .start__decoration-top{
      right: -211vw * $px;
      width: 610vw * $px;
      height: 610vw * $px;
      top: -450vw * $px;
    }
  }
  &-portfolio{
    .clinic{
      margin-top: 0;
    }
  }
}

